*~
*.orig
*.rej
*.pyc
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
django_project/public/media/cache/*
django_project/public/media/productos/*
django_project/public/media/slider/*
django_project/public/media/bloque/*

django_project/staticos/node_modules/*
django_project/staticos/bower_components/*

tmp
.DS_Store

db.sqlite3

django_project/local.py
django_project/config.py
